//Colours
$grey-1: #F7F7F7;
$grey-2: #dfdfdf;
$grey-3: #747474;

$bgrey-1: #B9BCC5;

$dgrey-1: #3E3E3E;

$dblue-1: #011627;
$dblue-2: #002a4d;
$dblue-3: #16213F;

$pink-1: #FF3366;
$pink-2: #dd204f;

$white-1: #ffffff;