.navbar{
    &__container{
        background: $grey-1;
        padding: 1rem 3rem;
        border-radius: 0 0 6px 6px;
        display: flex;
        justify-content: flex-end;
        @include respond(bp-small){
            justify-content: space-between;
        }
    }

    &__button-group{
        display: none;
        @include respond(bp-small){
            display: flex;
        }
    }

    &__button-group div{
        margin-right: 1rem;
    }
}