.button{
    &__container{
        border-radius: 6px;
        cursor: pointer;
        transition: .3s;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }

    &__primary{
        padding: 6px 6px 6px 14px;
        background: $pink-1;
        color: $white-1;
        &:hover{
            background: $pink-2;
        }
    }

    &__secondary{
        padding: 6px;
        background: transparent;
        &:hover{
            background: $grey-2;
        }
    }

    &__tertiary{
        padding: 6px;
        &:hover{
            background: $dblue-2;
        }
    }
}