.home{

    &__wrapper{
        display: flex;
    }

    &__container{
        padding: 2rem;
        width: 40%;

    }

    &__title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
}